check1nodered.txt
[{"id":"9ddffbe2.3dc9d8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e6ec9761.00d148","type":"rpi-gpio out","z":"9ddffbe2.3dc9d8","name":"LED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":450,"y":380,"wires":[]},{"id":"8cb3b7b3.304738","type":"debug","z":"9ddffbe2.3dc9d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":360,"y":260,"wires":[]},{"id":"cae74410.86ce78","type":"rpi-gpio in","z":"9ddffbe2.3dc9d8","name":"button","pin":"11","intype":"up","debounce":"25","read":true,"x":70,"y":240,"wires":[["60685b19.3188d4","8cb3b7b3.304738"]]},{"id":"60685b19.3188d4","type":"switch","z":"9ddffbe2.3dc9d8","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":380,"wires":[["76638e12.9277f"],["d6542b8c.301298"]]},{"id":"76638e12.9277f","type":"change","z":"9ddffbe2.3dc9d8","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":340,"wires":[["e6ec9761.00d148"]]},{"id":"d6542b8c.301298","type":"change","z":"9ddffbe2.3dc9d8","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":420,"wires":[["e6ec9761.00d148"]]}]