check2nodered.txt
[{"id":"f48e2d07.6f341","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"49a95416.06027c","type":"inject","z":"f48e2d07.6f341","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":240,"wires":[["5c86f254.c35adc"]]},{"id":"5c86f254.c35adc","type":"function","z":"f48e2d07.6f341","name":"payload","func":"msg.headers={\n  deviceKey:\"LfsEmRyTA47SkYHy\"  \n};\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":240,"wires":[["8147156b.5ad998"]]},{"id":"8147156b.5ad998","type":"http request","z":"f48e2d07.6f341","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/D05kX4YK/datachannels/Temperature/datapoints.csv","tls":"","x":310,"y":360,"wires":[["7a8d39d5.520738","fa5f29ac.463578"]]},{"id":"fa5f29ac.463578","type":"http response","z":"f48e2d07.6f341","name":"","statusCode":"","headers":{},"x":590,"y":340,"wires":[]},{"id":"7a8d39d5.520738","type":"debug","z":"f48e2d07.6f341","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":480,"wires":[]}]