Flow3.txt
[{"id":"185ae869.f8d1e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"876f1cfc.0690f","type":"inject","z":"185ae869.f8d1e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["d40e4763.53b2b8"]]},{"id":"d40e4763.53b2b8","type":"function","z":"185ae869.f8d1e8","name":"Payload","func":"msg.headers={\n    devicekey:\"LfsEmRyTA47SkYHy\"\n};\nmsg.payload=\"Temperature,,25.3\"\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["cd775d3c.5ee6e"]]},{"id":"cd775d3c.5ee6e","type":"http request","z":"185ae869.f8d1e8","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/D05kX4YK/datapoints.csv","tls":"","x":480,"y":260,"wires":[["6b08c6e5.789798","8173d04e.96bd9"]]},{"id":"6b08c6e5.789798","type":"http response","z":"185ae869.f8d1e8","name":"","statusCode":"","headers":{},"x":660,"y":260,"wires":[]},{"id":"8173d04e.96bd9","type":"debug","z":"185ae869.f8d1e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":400,"wires":[]}]