Flow4.txt
[{"id":"37b0e67e.190b3a","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"ba026f0b.a530b","type":"http in","z":"37b0e67e.190b3a","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":80,"y":140,"wires":[["f68549fd.8d0468"]]},{"id":"15c71099.6d9adf","type":"rpi-gpio in","z":"37b0e67e.190b3a","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":50,"y":280,"wires":[["ca66a27c.6898d"]]},{"id":"ca66a27c.6898d","type":"function","z":"37b0e67e.190b3a","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["649429e1.5aac58"]]},{"id":"f68549fd.8d0468","type":"function","z":"37b0e67e.190b3a","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":140,"wires":[["c29c60a6.279d2","649429e1.5aac58"]]},{"id":"c29c60a6.279d2","type":"http response","z":"37b0e67e.190b3a","name":"","statusCode":"","headers":{},"x":540,"y":160,"wires":[]},{"id":"649429e1.5aac58","type":"debug","z":"37b0e67e.190b3a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":240,"wires":[]}]