Flow5.txt
[{"id":"e2faf78b.e82d98","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"940ad23f.b2d86","type":"http in","z":"e2faf78b.e82d98","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":60,"y":380,"wires":[["5828775b.4b9788","49fbda4a.da67e4"]]},{"id":"5828775b.4b9788","type":"function","z":"e2faf78b.e82d98","name":"Set to 1","func":"msg.payload=1;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":380,"wires":[["53ea29eb.5c3f58"]]},{"id":"53ea29eb.5c3f58","type":"rpi-gpio out","z":"e2faf78b.e82d98","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":460,"y":480,"wires":[]},{"id":"49fbda4a.da67e4","type":"function","z":"e2faf78b.e82d98","name":"Return Status","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["5e4b8a68.968164","688151db.0b032"]]},{"id":"688151db.0b032","type":"debug","z":"e2faf78b.e82d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":480,"wires":[]},{"id":"5e4b8a68.968164","type":"http response","z":"e2faf78b.e82d98","name":"","statusCode":"","headers":{},"x":610,"y":260,"wires":[]},{"id":"efeb42fa.1d80e","type":"http in","z":"e2faf78b.e82d98","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":600,"wires":[["41590ab6.d80a24","71695ee0.9429b"]]},{"id":"41590ab6.d80a24","type":"function","z":"e2faf78b.e82d98","name":"Clear to 0","func":"msg.payload=0;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":600,"wires":[["53ea29eb.5c3f58"]]},{"id":"71695ee0.9429b","type":"function","z":"e2faf78b.e82d98","name":"Return Status","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":720,"wires":[["688151db.0b032","5e4b8a68.968164"]]}]